<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}Construction Manager{% endblock %}</title>
    {% include 'partials/_styles.html' %}
    {% block extra_css %}{% endblock %}
</head>
<body class="app-body">
    {% block header %}{% include 'partials/_header.html' %}{% endblock %}

    <main class="app-main container-xl">
        {% include 'partials/_messages.html' %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% include 'partials/_footer.html' %}{% endblock %}
    {% include 'partials/_scripts.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>
